* {
    margin: 0;
    padding: 0;

}

/* Aca va la fuente importada desde Google */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rock+Salt&display=swap');



.titulo-cabecera,
.barra-de-menu,
.nuestro-taller,
.destacados-del-mes,
.donde-estamos,
.header-FAQ,
.titulo-login {
    font-family: 'Architects Daughter', cursive;

}


/* ACA EMPIEZA EL BODY INDEX */

/*IMAGEN HEADER INDEX */

.header-index {
    background-image: url('imagenes para proyecto Mucha Madera/headerindex.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.logo-mucha-madera {    
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center; 
} 

.logo-mucha-madera img { 
    height:10em;
    width:8em;
    border-radius: 1em;
}

.logo:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.titulo-cabecera { 
    animation-duration: 3s;
    animation-name: aparecer;
}

.titulo-cabecera {
    font-size: 100px;
    padding: 80px;
    text-align: center;
    border-radius: 16px;
}

@keyframes aparecer {
0% { 
    opacity: 0;
}
100% {
    opacity: 1; 
}
}


.barra-de-menu { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (max-widht:576px) {
    .barra-de-menu {
        flex-direction:column; 
        display:flex;
    }

}

.barra-de-menu ul {
    list-style: none;
    font: size 0;
}

li {
    display: inline-block;
    width: 15%;
    position: relative;
    font-size: 15px;
    list-style: none;
    padding: 2 em;
    margin: 2rem;
    word-spacing: 2px;
    text-align: center;
}

/* submenu */
ul ul {
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

ul ul li {
    display: block;
    text-align: center;
}

li:hover ul {
    display: block;
    text-decoration: underline;
    visibility: visible;
    opacity: 1;

}

.barra-de-menu li a:hover {
    text-decoration: underline;

}

a {
    color: black;
    display: block;
    text-decoration: none;

}


/* fin barra de menu index */

/* seccion busca tu producto index */

.busca-tu-producto p {
    font-family: 'Architects Daughter', cursive;

}

.busca-tu-producto {
    background-image: url('imagenes para proyecto mucha madera/fondo1.jpg');
    background-size: cover;
}



/* Carousel Index */




/*comienzo destacados del mes index */

.destacados-del-mes h2 {
    text-align: center;
    padding: 50px;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}




.productos  { 
    display:flex;
    flex-direction: row; 
    justify-content: space-evenly;
}

.productos:hover .perchero-transform  {-webkit-transform:scale(1.3);transform:scale(1.3);} 
.productos:hover .macetas-transform {-webkit-transform:scale(1.3);transform:scale(1.3);}
.productos:hover .porta-maceta-transform {-webkit-transform:scale(1.3);transform:scale(1.3);}
.productos:hover .huertas-balcon-transform {-webkit-transform:scale(1.3);transform:scale(1.3);}

.productos {overflow:hidden;}    



/*query mobile */

@media only screen and (max-width:576px) {
    .productos { display: block;}


}

/*comiendo del GRID que separa los productos del footer*/ 

/* media query para la parte grid-flex*/



.grid-container-fondo-index {
    display: flex;
    display: grid;
    flex-wrap: wrap; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 30px;
    height: 700px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 15px chocolate;
}

/*comiendo del GRID que separa los productos del footer*/ 

/* media query para la parte grid-flex*/

@media only screen and (max-width:576px)
{ .grid-div1-index, .grid-div-2-index, .grid-div-3-index, .grid-div-4-index, .grid-div-5-index, .grid-div-6-index
    {display: flex;
    flex-direction: column;
 }
}

.grid-container-fondo-index div {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
   
}

.troncos-apilados, .fondo-rombo, .fondo-tres, .fondo-madera-turquesa, .tabla, .foto-fondo-uno, .palets {

    width: 100%;
    height: 100%;
    display: flex; 
}

/* GRIDS DIVS INDEX */

.grid-div-1-index { grid-area: 1 / 1 / 6 / 2; }
.grid-div-2-index { grid-area: 1 / 2 / 4 / 3; }
.grid-div-3-index { grid-area: 1 / 3 / 4 / 4; }
.grid-div-4-index { grid-area: 1 / 4 / 4 / 5; }
.grid-div-5-index { grid-area: 1 / 5 / 4 / 6; }
.grid-div-6-index { grid-area: 4 / 4 / 6 / 6; }
.grid-div-7-index { grid-area: 4 / 2 / 6 / 4; }




/* FOOTER INDEXHTML */

.footer-index i {
    padding: 15px;
}

ul {
    text-align: center;
    font: 15px bold;
    font-family: 'Architects Daughter', cursive;
    list-style: none;
    word-spacing: 30px;
}

p {
    text-align: center;
}

.footer-index {
    background-color: rgb(139, 124, 130);
}


/* FIN DEL FOOTER INDEXHTML */

/* ACA EMPIEZA NOSOTROSHTML */


/* IMAGEN DEL NOSOTROS */

.header-nosotros {
    background-image: url("Imagenes para proyecto Mucha Madera/manosierradebanco.jpg");
    padding: 400px;
    border: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nuestro-taller h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: aliceblue;
}

.nuestro-taller p {
    font-size: 20px;
    color: aliceblue;
    font-weight: normal;
    padding: 100px;
    letter-spacing: 5px;
    background: none;
}

.donde-estamos {
    background-color: royalblue;
}

.donde-estamos h2 {
    font-size: 20;
    text-align: center;
    padding: 50px;
}

.donde-estamos p {
    font-size: 16px;
    text-align: center;
    color: black;
}

/* FLEX */
.google-maps {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-content: center;
order: 1;

}


/*FOOTER DE NOSOTROS */



#footer-nosotros li {
    text-align: center;
    text-decoration: tomato;
    font-weight: bold;
    font-size: 15px;
    list-style: none;
}

#footer-nosotros {
    background-color: beige;
}


/* FIN FOOTER NOSOTROS */

/*ACA EMPIEZA PREGUNTASFRECUENTESHTML  */

.body-faq {
    background-image: url('imagenes para proyecto Mucha Madera/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header-faq nav {
    text-align: center;
}

.header-faq h1 {
    font-size: 30px;
}

.header-faq ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    word-spacing: 8px;
    text-align: center;
    text-decoration: none;
    padding: 30px;
}

.barra-de-menu-faq {
    position: sticky;
    top: 0;
}

.section-faq h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-faq ul li {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.section-faq p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    word-spacing: 8px;
}

/*PRODUCTOHTML */

.body-producto {
    background-image: url('fotos\ de\ productos/fondo1.jpg');
}

.foto-producto {
    border: 2px solid black;
}



.header-producto {    
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center; 
}





/* LOGIN */

.body-login {
    background-image: url('imagenes para proyecto Mucha Madera/fondo1.jpg');
}

/* header login */ 

.titulo-login {
    font-size: 100px;
    padding: 80px;
    text-align: center;
    border-radius: 16px;
}

.mensaje-login {
    font-size: 100px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


