


/* body login */ 


.body-login {
    background-image: url('../../fotos\ de\ productos/fondo1.jpg');
}

/*body preguntas frecuentes*/

.body-faq {
    background-image: url('../../fotos\ de\ productos/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/*body producto */ 

.body-producto {
    background-image: url('../../fotos\ de\ productos/fondo1.jpg');

} 

