@import '../variables';

/*mixin */

@mixin prefijos-transform ($propiedad, $propiedad2) {
    -webkit-transform: $propiedad;
    -o-transform: $propiedad;
    -moz-transform: $propiedad;
    transform: $propiedad;
    -webkit-transform-style: $propiedad2;
    -o-transform-style: $propiedad2;
    -moz-transform-style: $propiedad2;
    transform-style: $propiedad2;
}

@mixin prefijos-animation ($propiedad1, $propiedad2) {
    -webkit-animation-duration: $propiedad1;
    -o-animation-duration: $propiedad1;
    -moz-animation-duration: $propiedad1;
    animation-duration: $propiedad1;
    -webkit-animation-name: $propiedad2;
    -o-animation-name: $propiedad2;
    -moz-animation-name: $propiedad2;
    animation-name: $propiedad2;
}


/*IMAGEN HEADER INDEX */

.header-index {
    background-image: url('../../fotos\ de\ productos/headerindex.jpg');
    background-size: cover;
    background-attachment: fixed;
}


/*nav bar index  color*/

.bg-color {
    background: #E9967A;
}


.nav-item,
.color-nav {
    color: whitesmoke;
    font-size: 20px;
}


.logo-mm {

    border-radius: 10px;
}


.logo-txt {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}

.titulo-cabecera {
    @include prefijos-animation(3s, aparecer);
    font-size: 90px;
    padding: 80px;
    text-align: center;
    
}


/* MQ para que no se rompa con dispositivos menos de 576*/

@media only screen and  (min-widht:460px) {
    .titulo-cabecera {
        display: flex;
        flex-direction: column;
        font-size: 50px;
    }

} 

@media only screen and (max-widht:576px) {
    .logo-txt {
        font-size: 5px;
        color:aqua; 
        text-align: center;
    }
}




/* animation-duration: 3s;
animation-name: aparecer; */

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}







/*Header nosotros */


.header-nosotros {
    background-image: url('../../fotos\ de\ productos/manosierradebanco.jpg');
    height: 100vh;
    width: auto;
    border: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.nuestro-taller h1 {
    font-size: 30px;
    text-align: justify;
    padding: 20px;
    color: aliceblue;
    background-attachment: fixed;

}

.nuestro-taller p {
    border: 1px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    color: aliceblue;
    padding: 40px;
    font-size: 20px;

}



/*header Faq*/


.logo-mm:hover {
    @include prefijos-transform (rotateY(180deg), preserve-3d);
}






/*HEADER PRODUCTOBT */









/*HEADER LOGIN */


/* BARRA DE MENU LOGIN */

